
:root {
    --hero-height: 60vh;
    --hero-max-height: 700px;

    --tea-green: #cdeac0ff;
    --rose-pompadour: #e27396ff;
    --amaranth-pink: #ea9ab2ff;
    --mimi-pink: #efcfe3ff;
    --dark-slate-gray: #254441ff;
  }
  
@font-face {
  font-family: "LilitaOne";
  src: url("./Fonts/LilitaOne-Regular.ttf");
}

* {
  margin: 0;
  padding: 0;
}

.TopBar {
  height: 6rem;
  width: 100%;
  background-color: var(--mimi-pink);
  display: flex;
  align-items: center;
  justify-content: space-between;
  position: sticky;
  top: 0;
  
  
}

.TopBar ul {
  list-style: none;
  display: flex;
  justify-content: flex-end;
  width: 30%;
  margin-right: 1rem;
}

.TopBar ul li a img {
  color: white;
  width: 50%;

}

.TopBar img {
  height: 5rem;
  width: 30%;
}

.empty {
  width: 30%;
}

.NavBar {
  height: 4rem;
  background-color: var(--dark-slate-gray);
  position: sticky;
  top: 6rem;
}

.NavBar ul {
  margin: 0;
  height: 100%;
  list-style: none;
  display: flex;
  justify-content: center;
  align-items: stretch;
}
.NavBar ul li {
  display: flex;
  flex-direction: row;
  align-items: stretch;
}
.NavBar ul li a {
  padding-left: 1rem;
  padding-right: 1rem;
  line-height: 4rem;

  text-align: center;
  text-decoration: none;
  
  color: var(--mimi-pink);
  font-family: "LilitaOne", sans-serif;
  background-color: rgb(30, 53, 53);
}

.NavBar ul li a:hover {
  color: white;
  background-color: rgb(44, 78, 78);
  padding-left: 1.25rem;
  padding-right: 1.25rem;
}

.page {
  width: 100%;
  height: 100%;
  background-color:  var(--rose-pompadour);
}

.Hero {
    display: flex;
    justify-content: space-evenly;
    align-items: center;
    flex-wrap: wrap;
    
    width: min(80% - 0rem, var(--container-max, 100ch));
    height: fit-content;
    margin: auto;
    
    background-color: white;
}

.Hero img {
        margin: 2rem;
        object-fit: cover;
        width: min(60% - 1rem, var(--container-max, 40ch));
        aspect-ratio: 1/1;
        border-radius: 100%;

        box-shadow: -0.5rem 0.5rem var(--rose-pompadour);

        
}

.box {
  display: flex;
  flex-direction: column;
  justify-content: space-evenly;
  align-items: baseline;

  text-align: left;
  
  width: min(60% - 0rem, var(--container-max, 40ch));
  height: 100%;
  flex-grow: 0.2;
  margin: 1rem;
  

  
}
.box a {
  background-color: var(--tea-green);
  margin-top: 10%;

  text-decoration: none;
  font-family: "LilitaOne", sans-serif;
  color: var(--dark-slate-gray);

  padding: 1rem;
  padding-left: 2rem;
  padding-right: 2rem;
  border-radius: 10rem;
}

.box a:hover {
  background-color: rgb(198, 255, 172);

}

.box h1 {
  font-family: "LilitaOne", sans-serif;
  font-size: clamp(1.5rem,3rem,4rem);
  color: var(--rose-pompadour);
}

.box p {
  font-family: Arial, Helvetica, sans-serif;
  color: var(--rose-pompadour);
}



.infopage {
  width: min(80% - 0rem, var(--container-max, 100ch));
  margin-inline: auto;
  padding-top: 4rem;
  padding-bottom: 4rem;
  background-color: var(--mimi-pink);
}

.infopage img {
  width: 100%;
}

@media screen and (max-width: 600px) {
  .empty {
    display: none;
  }
  .TopBar img {
    margin-left: 1rem;
    width: 40%;
  }
  .TopBar {
    height: 4rem;
  }
  .TopBar ul {
    list-style: none;
    display: flex;
    justify-content: flex-end;
    width: 40%;
    margin-right: 1rem;
  }

  .NavBar {
    top: 4rem;
  }
}